<h3><u>Line Items</u></h3>
<table>
  <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Product Name</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  
  <%= render @line_items %>
</table>

<%= link_to_previous_page @line_items, 'Previous Page' %>
<%= link_to_next_page @line_items, 'Next Page' %>
