<h3><u>Line Items</u></h3>
<table>
  <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Product Name</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  
  <%= render @line_items %>
</table>

<%= link_to 'Prev Page', line_items_users_path(page: @page - 1) if @page > 0 %>
<%= link_to 'Next Page', line_items_users_path(page: @page + 1) if @page < @max_pages %>